@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(250, 219, 219);
}
/* Start common css class */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg,#ac3c79 , #FF008E);
    border-radius: 10px;
    box-shadow: 0 7px 0 #dd499a;
    margin-top: 10px;
    position: relative;
    top: 0;
    cursor: pointer;
}
.primary-button:active{
    box-shadow: 0 2px 0 #dd499a;
    top: 5px;
}
.primary-button a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
/* End Common Css */
/* Start Nav section */
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigaction ul{
    display: flex;

}
.navigaction li,i{
    list-style: none;
    margin-left: 15px;
}
.navigaction li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 700;
}

/* End Nav section */
/* Start Banner Section */
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left a{
    text-decoration: none;
}
.banner-left h1{
    font-weight: bolder;
}
.banner-left p{
    line-height: 1.5rem;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-right img{
    width: 70%;
}
/* End Banner Section */